h2 {
  font-weight: bold;
} 

img {
  width: 60%;
}

.icons {
  width: 32px;
}

.refs {
  text-align:center;
  font-weight:bold;
  width: 96px;
}

td img:not(.icons):not(.refs) {
  min-width: 180px;
  width: 100%;
}